.title {
    text-align: center;
    padding: 100px;
}
span {
    font-weight: bold;
}

.instruction {
    text-align: center;
}

div {
    top: 50%;
    text-align: center;
}

button {
    margin: 10px;
}

p {
    margin: auto;
    text-align: center;
    max-width: 500px;
}
