
.page {
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 900px;
    text-align: center;
    background-image: url('./game_images/background.jpeg');
    border: 10px solid black;
}

p {
    margin: auto;
    text-align: left;
    max-width: 500px;
    background-color: white;
}

#canvas1 {
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 900px;
}

.info {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 900px;
    background-color: grey;
    border: 3px rgb(144,144,144);
    border-style: ridge;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info div {
    width: 200px;
    font-size: 30px;
    height: 3vh;
}

